<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--internet explorer-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Viewport mobeil-->
        
        
       

        <meta name="description" content="note to sign in todo">
        <meta name="keywords" content="note ,todo">
        <meta name="author" content="mahmoud ismail">
        <meta name=http-equiv="refresh" content="30">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styal.css') }}">
        
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        

        <title>{% block title %}Home{% endblock %}</title>
    </head>

    <body>
              <!--start navbar-->

             <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">note</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">

                  
                  <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="active"><a href='/' id="home">Home<span class="sr-only">(current)</span></a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href='/logout' id="logout">logout</a></li>
                    {% else %}
                    <li><a href='/login' id="login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                    <li><a href='/sign-up' id="sign up"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                  </ul>
                  {% endif %}

                </div>
              </div>
            </nav>

             <!--end navbar--> 


             
             {% with messages = get_flashed_messages(with_categories=true) %} {% if
              messages %} {% for category, message in messages %} {% if category ==
              'error' %}
              <div class="alert alert-danger" role="alert">
                {{ message }}
                <button type="button" class="close" class="glyphicon glyphicon-remove" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% else %}
              <div class="alert alert-success" role="alert">
                {{ message }}
                <button type="button" class="close" class="glyphicon glyphicon-remove" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %} {% endfor %} {% endif %} {% endwith %}

             <div class="container">{% block content %} {% endblock %}</div>


             
            
        <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
        ></script>

      </body>
</html>
<!--scrpt-->